#about {
  background: #F9F1F0;
  padding-top: 7rem;
  padding-bottom: 7rem;
  box-shadow: 0 10px 100px rgb(0 0 0 / 10%);
}

.aboutColumn {
  margin: 0.2rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #F79489;
  border-radius: 2rem;
  padding-bottom: 1rem;
  background-color: #fafafa;
  height: 98%;
}

.aboutDescription {
  display: flex;
  justify-content: space-between;
}

.aboutColumn h3 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 100;
  margin: 1rem;
  flex-grow: 1;
  color: #333;
  font-size: 1.4rem;
}

.aboutColumn p {
  text-align: justify;
  margin: 0rem 2rem 2rem;
  flex-grow: 4;
  color: #555;
  font-size: 0.9rem;
}

.knowMore {
  display: block;
  margin: 0 auto;
  padding: 0.5rem 0.5rem;
  background: #F79489;
  border: none;
  border-radius: 0.5rem;
  flex-grow: 0;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 30%);
}

.knowMore {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  font-size: 0.9rem;
}

.knowMore:hover {
  text-decoration: none;
  color: white;

}

.knowMore:hover {
  border: 0.1px solid #F79489;
  animation: pulse 3s;
}

@keyframes pulse {
  0% {
    transform: scale(.85);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 100px rgba(#F79489, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(#F79489, 0);
  }
}