.galery img {
  border: 2px solid #D8B7A6;
}

.galery div {
  background-color: #F1ECE4;
  box-shadow: 0 10px 100px rgb(0 0 0 / 10%);
}

.galery>.slick-next:before,
.galery>.slick-prev:before {
  display: none;
}

.galery>.slick-next,
.galery>.slick-prev {
  display: none;
}

.placeholderBannerEdit {
  height: 450px;
  width: 100%;
  margin-bottom: 0px;
  position: relative;
}

.spinner-banner {
  margin-bottom: 10rem;
}