#contact {
  background: #F1ECE4;
  padding-top: 7rem;
  padding-bottom: 7rem;
  box-shadow: 0 10px 100px rgb(0 0 0 / 10%);
}

.contactDescription {
  text-align: center;
  color: #555;
  display: block;
  margin-bottom: 3rem;
}

.formContact {
  box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
  background: #fafafa;
  padding: 4rem;
  max-width: 80rem;
  text-align: right;
  width: 70%;
  border-radius: 5px;
  margin: 0 auto;
}

.formFields {
  margin-bottom: 1rem;
}

.formFields label {
  color: #333;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  display: block;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.formFields input,
textarea {
  padding: 1rem;
  width: 100%;
  border: 1px solid #884290;
  background: #f0f0f0;
  border-radius: 5px;
  outline: 0;
}

.formFields textarea {
  height: 10rem;
}

.submit,
.spinner {
  padding: 1rem 1rem;
  background: #884290;
  color: #fafafa;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 30%);
  border: none;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  font-size: 0.8rem;
  width: 7rem;
}

.spinner {
  display: none;
}

.submit:hover {
  border: 0.1px solid #884290;
  animation: pulse 3s;
}

@keyframes pulse {
  0% {
    transform: scale(.85);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 100px rgba(#884290, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(#884290, 0);
  }
}

.custom-popover {
  width: 13rem !important;
  font-size: 0.7rem !important;
  text-align: justify !important;
}

.fa-circle-info {
  color: #884290c2;
}

.btn .btn-primary {
  background-color: #884290c2 !important;
}