footer {
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  height: 10rem;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 2rem;
  box-shadow: 0 10px 100px rgb(0 0 0 / 10%);
}

.titleFooter {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 100;
  letter-spacing: 4px;
  color: #333;
  text-align: right;
  margin-right: 3rem;
  animation-name: animation-footer;
  animation-duration: 10s;
}

@keyframes animation-footer {
  from {
    color: #F79489;
  }

  to {
    color: #333;
  }
}


.titleFooterName::after {
  content: '';
  width: 10rem;
  height: 3px;
  display: block;
  border-radius: 5px;
  background: #F79489;
  position: absolute;
  margin-left: 2rem;
  margin-top: 1rem;
}

.slogan {
  color: #555;
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 2rem;
  margin-right: 1rem;
  text-align: justify;
}

.socialFooter {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.messageFooter {
  width: 60%;
}

.socialFooter div {
  text-align: right;
}

.socialFooter div a i {
  color: #555;
  margin-top: 2rem;
  margin-right: 2rem;
  font-size: 2rem;
}

.socialFooter div a i:hover {
  color: #F79489;
  animation: pulse 2s;
}

@keyframes pulse {
  0% {
    transform: scale(.85);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 100px rgba(#F79489, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(#F79489, 0);
  }
}